@media only screen and (min-width: 50em) {


    .container {
        margin-top: 28em;
    }

    header h1 {
        top: 2.5em;
    }

    main .rentals {

        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
    }

    .mainarticle img {
        margin: 1em 2em 1em 1em;
    }

    #rentalsimages {
        grid-template-columns: auto auto auto;

    }

    #rentalsimages div:nth-child(4)>img,
    #rentalsimages div:nth-child(6)>img {
        margin-top: 2.3em;
    }

    .flex li {
        margin-left: 20em;
    }
}