@media only screen and (min-width: 30em) {
  
  .container{
    margin-top: 15em;
}
  .navigation {
    display: flex;
  }
  
  .navigation li {
    display: block;
  }
  
  .navigation li:first-child {
    display: none;
  }
  
nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover:not(.active) {
    background-color: #56EEF4;
  }
  
  .active {
    background-color: #bdcfc4;
  }
main, header {
margin-top: 40px;
}

header h1{
  top: 1.3em;
  font-size: 3em;
  }

form{
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}


/*-----------Rental-------------*/
#rentalsimages {
  display: grid;
  grid-template-columns: auto auto;
  margin: 2em;
  background-color:#eeccbb;
  padding: 2em;
}
#rentalsimages h3{
  max-width: 300px;
  }

  #rentalsimages # {
    margin-top:2.3em;
  }

/*-----------end of rental-------------*/
.text img{
  float:right; 
  margin:1em 2em 1em 1em;
}

.yellow img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*-------Weather Info --------------*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #ddf1e5;
  padding: 2px;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}


.grid-header {
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.grid-image {
  padding: 20px 20px 5px 20px;
  text-align: center;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.grid-f {
  border: 2px solid white;
  border-top: none;
  padding: 5px 20px 20px 20px;
  text-align: center;
}
/*------End Weather Info ------------------*/
#article {
  display: block;
  background-color: #ddf1e5;
  color: black;
  padding: 1em;
  margin: 1em auto 1em auto;
  max-width: 992px;
  line-height: 2em;
}

#article img {
  float: right;
  padding: .25rem;
  margin: .5rem .25rem .5rem 1.25rem;
}
#article h2{
  font-family: 'Dancing Script', cursive;
font-size: 2em;
}
/* Table*/


table {
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 10px 10px 18px 0px rgba(98, 140, 166, 1);
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  text-align: center;
}


tbody tr:nth-child(odd) {
  background-color: #e7f0ed;
}

tbody {
  font-size: 1em;
}

th {
  padding: .5em;
  font-size: 1em;
}

td {
  padding: .5em;
}

tbody tr:nth-child(even) {
  background-color: #e7ffed;
}

thead tr:nth-child(odd),
tfoot {
  background-color: #7fb9c2;
}

thead tr:nth-child(odd) th {
  font-size: 1em;
  padding-bottom: .3em;
  padding-top: .3em;
  padding-left: 1em;
  padding-right: 1em;
}


tfoot td {
  text-align: center;
}

table,
td,
th {
  border-spacing: 0px;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
}
/* End of Table*/

#iflargehide {
  display: none;
}

}