@media only screen and (min-width: 30em) {

nav {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: white;
}

nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li:first-child {
  display: none;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li:last-child {
    border-right: none;
  }
  
  nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover:not(.active) {
    background-color: #56EEF4;
  }
  
  .active {
    background-color: #bdcfc4;
  }
main, header {
margin-top: 40px;
}



}