@media only screen and (min-width: 30em) {
  
  .container{
    margin-top: 15em;
}
  .navigation {
    display: flex;
  }
  
  .navigation li {
    display: block;
  }
  
  .navigation li:first-child {
    display: none;
  }
  
nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover:not(.active) {
    background-color: #56EEF4;
  }
  
  .active {
    background-color: #bdcfc4;
  }
main, header {
margin-top: 40px;
}

header h1{
  top: 1.3em;
  font-size: 3em;
  }

form{
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
iframe{
  width:400px;
  height:300px; 
}


/*------------------------*/
.rentals section {
  margin: 1em;
  background-color:#eeccbb;
}
main .rentals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 768px;
  margin: auto;
}

.rentals img {
  max-width: 300px;
}

.rentals>div:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.rentals>div:nth-child(1),
.rentals>div:nth-child(3),
.rentals>div:nth-child(5) {
  max-width: 300px;
  margin: 0em 2em 0em 0em;

}

.rentals>div:nth-child(2),
.rentals>div:nth-child(4),
.rentals>div:nth-child(6) {
  padding: 0em;
  margin: 0em 2em 0em 0em;
}

.rentals>div:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}
/*------------------------*/
.text img{
  float:right; 
  margin:1em 2em 1em 1em;
}

.yellow img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*-------Weather Info --------------*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #ddf1e5;
  padding: 2px;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}


.grid-header {
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.grid-image {
  padding: 20px 20px 5px 20px;
  text-align: center;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.grid-f {
  border: 2px solid white;
  border-top: none;
  padding: 5px 20px 20px 20px;
  text-align: center;
}
/*------End Weather Info ------------------*/

}