body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
}

h2,
h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;

}

/*---------- Navigation-------------------------------*/


nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
  float: right;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.responsive li {
  display: block;
}

/*---------- Navigation-------------------------------*/

.weather {
  background-color: #ddf1e5;
  margin-bottom: 0px;
  color: black;
  text-align: left;
  padding: 1em;
  font-family: sans-serif;
  border: 2px solid white;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 2px #f5b697;
  margin: 20px auto;
}

.weather h3 {
  padding-bottom: 2px;
  margin: 5px 5px 10px 5px;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

.bold {
  font-weight: bold;
}

footer {
  background-color: #53a0ac;
  margin-bottom: 0px;
  color: black;
  text-align: center;
  padding: 1em;
  font-family: sans-serif;
}

footer p {
  margin-bottom: 0px;
}

footer a {
  color: black;
  text-decoration: none;
}

.text {
  background-color: #ddf1e5;
  color: black;
  max-width: 60em;
  padding: 1em;
  margin: 1em auto 1em auto;
  line-height: 2em;
  font-family: sans-serif;

}

.text h2,
.text h3 {
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
}


.box {
  background-color: #ddf1e5;
  color: black;
  max-width: 16em;
  padding: 1em;
  text-align: center;
  box-shadow: 4px 4px 2px #f5b697;
  margin: 1em auto 1em auto;
  font-family: 'Dancing Script', cursive;
}

button {
  background-color: #ddf1e5;
  color: black;
  border: 2px solid rgb(114, 110, 110);
  box-shadow: 4px 4px 2px rgb(92, 91, 91);
  padding: .8em;
  font-family: sans-serif;
  font-size: .9em;
}

header img {
  position: absolute;
  z-index: 1;
}


header h1 {
  position: relative;
  top: 1em;
  z-index: 2;
  color: black;
  text-shadow: 4px 4px 2px white;
  font-size: 2em;
  margin-left: 2em;
}

main {
  z-index: 4;

}

.container {
  margin-top: 8em;
}

nav picture {
  float: left;
  margin-left: 3em;
}

main h2 {
  text-align: center;
}

.rentals section {
  border: solid 1px #eeccbb;
  margin-bottom: 1em;
}

.rentals {
  max-width: 300px;
  margin: 20px auto 20px auto;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.15;
  padding: 1em;
  text-align: center;
}

.flex {
  display: flex;
}

iframe {
  width: 350px;
  height: 200px;
}

/* Tours ul*/
#toursul ul {
  background-color: #ddf1e5;
  max-width: 18em;
  padding: 2em;
  line-height: 2em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 2px #f5b697;
  margin: 1em auto 1em auto;
}

#toursul h3 {
  text-align: center;
}

/* end of tours ul*/
/*-------Weather Info --------------*/

.weathersmall {
  display: flex;
  flex-direction: column;
  background-color: #ddf1e5;
  padding: 1em;
  max-width: 280px;
  margin: auto;
  text-align: center;
}

.grid-container {
  display: none;
}

#day1, #day2, #day3, #day4, #day5 {
  border-top: 1px solid white;
  padding-top: 5px;
}


#temp1, #temp2, #temp3, #temp4, #temp5 {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
/*------End Weather Info ------------------*/