body{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/*---------- Navigation-------------------------------*/


nav {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: white;
    z-index: 3;
    margin: 0 auto;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }
  
  .navigation {
    list-style: none;
    padding: 0;
  }
  
  .navigation li:first-child {
    display: block;
    float:right;
  }
  
  .navigation li {
    display: none;
  }
  
  .navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
  }
  
  .responsive li {
    display: block;
  }
  /*---------- Navigation-------------------------------*/

  


footer {
    background-color: #3d8590;
    margin-bottom: 0px;
    color: black;
    text-align: center;
    padding: 1em;
}

footer p {
    margin-bottom: 0px;
}
footer a {
    color: black;
    text-decoration: none;
}

.box { 
    background-color: #bdcfc4;
    color: black;
    max-width: 16em;
    padding: 1em;
    text-align: center;
  
}
button {
    background-color: #bdcfc4;
    color: black;
    border: 1px solid white;
    padding: .8em;
}

header img {
    position:absolute;
    z-index: 1;
}


header h1 {
  position: relative;
  top: 1em;
  z-index: 2;
  color: white;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  font-size: 2em;
  margin-left: 2em;
}

main{
    z-index: 4;

}

.container{
    margin-top: 8em;
}

nav picture{
  float:left;
  margin-left: 3em;
}

main h2{
  text-align: center;
}

.rentals section {
  border: solid 1px #eeccbb;
  margin-bottom: 1em;
}
.rentals{
    max-width: 300px;
    margin: 20px auto 20px auto;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.15;
    padding: 1em;
    text-align: center;
  }
