
  #content{
    max-width: 700px;
  margin: 0 auto;  
  }

  .color {
    background-color: #371042;
    padding: 20px;
    margin: auto;
    text-align:center;
    border-radius:15px;
  }
  
  
  h1{
    margin-top:0px;
  }
  
  h2{
    border-bottom: 1px solid #000000;
        margin-top:40px;
    margin-bottom:10px;
    max-width:500px;
  }

ul{
      margin-bottom:50px;
}

  header, main, footer {
  color: white;
  }
  
  
  img {
    border-radius: 15px;
    float: right;
    z-index: 1;
    height: 250px;
    box-shadow: 0 0 30px #444;

  }
  footer a{
  color:white;
  }

footer{
  margin-top:0px;
  line-height:5px;
}
  
  #currentdate {
  color: rgb(255, 255, 255);
  }