
    header {
        background-color:#964b00;
        text-align: center;
        width:100%;
        padding:1rem;
        color: white;
    
        }
       
    main {
        display: grid;
        grid-template-columns: 1fr;
        font-size: .8rem;
    }

    footer {
        background-color:#964b00;
        text-align: center;
        width:100%;
        padding: .5rem;
        color: white;
     
    }


    .col {
        background-color: #f2eac3;
        border: .2rem solid #964b00;
        background-color: #f2eac3;
        padding: .5rem;
        margin: .5rem;
        border-radius: 20px;
        text-align: center;

    }
  
   img{
  
        width: 100%;
      height: auto;
  
    }

  h3 {
    background-color: #964b00;
    color: #fff;
    padding: 1rem;
  }

h4{
  margin:.5rem;
}
p{
    font-size: medium;
    text-align: left;
}
