@media only screen and (min-width: 30em){
  
    .box {
        max-width: 520px;
		;
	   }
	

	  #address {
		text-align: left;
	  }

	
	  header, nav{
		max-width: 60em;
		margin-left: auto;
		margin-right: auto;
	  }
/*Header */
header img {
	width: 80%;
}
.headings h1 {
	font-size: 2rem;
}

.m {
	letter-spacing: 1.5pt;
	font-size: larger;
	margin-left: 17px;
}
/*End of header*/


    /* Navigation */
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}

    .navigation li:first-child {
		display: none;
	}
/*End of navigation***************/

  /******** images Grid***************************/
.container {
	max-width: 700px;
	grid-template-columns: 1fr 1fr;
	margin-left: auto;
	margin-right: auto;
  }
  .container img{
  width: 250px; 
  margin: .5rem;

}
figure{
    margin: 1px;
  }
    /******** end of images Grid***************************/

}
	