@media only screen and (min-width: 30em) {
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    img{
        display: block;
        width: auto;
        height: 15em;
    }
}

@media only screen and (min-width: 50em) {
    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
}

div {
    background-color: #BCBCBC;
    box-shadow: 0 0 40px #2b2929;
    padding: 1em;
    margin: 1em;
}

section {
    background-color: #9D9DB0;
    padding: 1.5em;
    margin: .25em;
    border: 1px solid #414083;
}

footer {
    text-align: center;
    margin: 1.5em;
}

h1,
h2 {
    color: #414083;
    text-align: center;
}

p {
    text-align: center;
    font-family: sans-serif;
}

img {
    max-width: 80%;
    box-shadow: 0 0 40px #2b2929;
    margin-top: 1em;
}