
    body{
      font-family: 'Nanum Gothic', sans-serif;
    }

  header {
          background-color:#41D3BD;
          text-align: center;
          padding:1rem;
          color: white;
          }
  
      footer {
          background-color:#407899;
          text-align: center;
          padding: .5rem;
          color: white;     
      }

     img{
      float:left;
          width: 15%;
        height: auto;
      }
nav{
  background-color: burlywood;
}

  .box {
    display:block;
    margin:10px auto;
    border:2px dashed purple;
    padding:15px;
    background-color: coral; 
  }
  footer a{
    color:white;
    } 
    

    /* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: burlywood;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
}
.navigation a:hover {
	color: white;
	background-color: black;
}

.responsive li {
	display: block;
}