@media only screen and (min-width: 50em) {

  .box {
    max-width: 720px;
  }

  footer {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

/*------------Flex----------------------------------------*/


main .cards  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main .cards section {
margin:1em;
}
section:nth-child(2) > img, section:nth-child(1) > img{
  padding-top: 3em;
  }
main article {
  display: flex;
  flex-direction: column-reverse;
  margin: 70px auto 10px auto;
  background-color: rgba(255, 127, 80, .80);
  padding: 1em;
}

/*------------End of Flex----------------------------------------*/


}